<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="hibernate-configuration" type="NHibernate.Cfg.ConfigurationSectionHandler, NHibernate" />
		<section name="nhibernateCocoon" type="NHibernateCocoon.ConfigSectionHandler, NHibernateCocoon" />
	</configSections>

	<hibernate-configuration xmlns="urn:nhibernate-configuration-2.2">
		<session-factory>
			<property name="connection.provider">NHibernate.Connection.DriverConnectionProvider</property>
			<property name="connection.driver_class">NHibernate.Driver.SQLite20Driver</property>
			<property name="dialect">NHibernate.Dialect.SQLiteDialect</property>
			<property name="connection.connection_string_name">Chinook</property>
			<property name="connection.isolation">ReadCommitted</property>
			<property name="show_sql">true</property>
		</session-factory>
	</hibernate-configuration>

	<nhibernateCocoon>
		<fluentMapping assembly="NHibernateCocoon.Tests" />
		<transactionScope value="request" />
	</nhibernateCocoon>

	<connectionStrings>
		<add name="Chinook" connectionString="Data Source=Chinook.working.sqlite; Version=3" />
	</connectionStrings>

	<system.data>
		<DbProviderFactories>
			<remove invariant="System.Data.SQLite" />
			<add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".Net Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" />
		</DbProviderFactories>
	</system.data>

	<system.web>
		<httpModules>
			<add name="NHibernateSessionModule" type="NHibernateCocoon.NHibernateSessionModule, NHibernateCocoon" />
		</httpModules>	
	</system.web>

	<system.webServer>
		<validation validateIntegratedModeConfiguration="false" />

		<modules>
			<add name="NHibernateSessionModule" type="NHibernateCocoon.NHibernateSessionModule, NHibernateCocoon" />
		</modules>
	</system.webServer>
	
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<qualifyAssembly partialName="System.Data.SQLite" fullName="System.Data.SQLite, Version=1.0.92.0, Culture=neutral, PublicKeyToken=db937bc2d44ff139" />
		</assemblyBinding>
	</runtime>
</configuration>